# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# =====================
# Environment files
# =====================
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# =====================
# OS-specific
# =====================
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# =====================
# IDEs & Editors
# =====================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project
.c9/
.project
.classpath
.settings/
*.launch

# =====================
# Visual Studio
# =====================
# Build results
[Bb]in/
[Oo]bj/
[Aa]rtifacts/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Backup & build metadata
*.userprefs
*.pdb
*.dbmdl
*.bak
*.cache
*.dll
*.exe
*.vspscc
*.vssscc
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# VS Local folder
.vs/

# T4 code generation
*.TransformLogs

# =====================
# Diagnostic reports
# =====================
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# =====================
# Generated / ORM
# =====================
/generated/
/generated/prisma
